<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                
                {{!-- End of Notifikasi --}}
                {{!-- start of row --}}
                
                {{#if selectacara}}
                {{!-- start of row --}}
                
                {{#if selectmahasiswa}}
                <div id="print">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-block">
                                <div class="form-body">
                                    <h4 class="card-title">Data Mahasiswa</h4>
                                        <h6 class="card-subtitle"> Berikut adalah data mahasiswa yang terpilih</h6>
                                        <hr>

                                    <div class="table-responsive m-t-10">
                                        <table id="listSoal" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">                                            
                                            <tbody>
                                                    <tr>
                                                        <td class="text-center">NIM</td>
                                                        <td>:</td>
                                                        <td>{{#each datamahasiswa}}{{ nim }}{{/each}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">Nama</td>
                                                        <td>:</td>
                                                        <td>{{#each datamahasiswa}}{{ mahasiswa }}{{/each}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">Fakultas</td>
                                                        <td>:</td>
                                                        <td>{{#each datamahasiswa}}{{ fakultas }}{{/each}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center">Prodi</td>
                                                        <td>:</td>
                                                        <td>{{#each datamahasiswa}}{{ prodi }}{{/each}}</td>
                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{#if selectmahasiswa}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 1</h4>
                                <h6 class="card-subtitle">Hasil Assessment Part 1</h6>
                                <hr>
                                <div class="table-responsive m-t-10">
                                    <table id="part1" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Aspek</th>
                                                <th class="">Skor</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Total:</th>
                                                <th id="total1"></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each part1}}
                                                <tr>
                                                    <td class="text-center">{{counter @index}}</td>
                                                    <td>{{ aspek }}</td>
                                                    <td>{{ skor }}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 2</h4>
                                <h6 class="card-subtitle">Hasil Assessment Part 2</h6>
                                <hr>
                                <div class="table-responsive m-t-10">
                                    <table id="part2" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Aspek</th>
                                                <th class="">Skor</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Total:</th>
                                                <th id="total2"></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each part2}}
                                                <tr>
                                                    <td class="text-center">{{counter @index}}</td>
                                                    <td>{{ aspek }}</td>
                                                    <td>{{ skor }}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 3</h4>
                                <h6 class="card-subtitle">Hasil Assessment Part 3</h6>
                                <hr>
                                <div class="table-responsive m-t-10">
                                    <table id="part3" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Aspek</th>
                                                <th class="">Skor</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Total:</th>
                                                <th id="total3"></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each part3}}
                                                <tr>
                                                    <td class="text-center">{{counter @index}}</td>
                                                    <td>{{ aspek }}</td>
                                                    <td>{{ skor }}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 4</h4>
                                <h6 class="card-subtitle">Hasil Assessment Part 4</h6>
                                <hr>
                                <div class="table-responsive m-t-10">
                                    <table id="part4" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Aspek</th>
                                                <th class="">Skor</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Total:</th>
                                                <th id="total4"></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each part4}}
                                                <tr>
                                                    <td class="text-center sum">{{counter @index}}</td>
                                                    <td>{{ aspek }}</td>
                                                    <td>{{ skor }}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 5</h4>
                                <h6 class="card-subtitle">Hasil Assessment Part 5</h6>
                                <hr>
                                <div class="table-responsive m-t-10">
                                    <table id="part5" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Aspek</th>
                                                <th class="">Skor</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th>Total:</th>
                                                <th id="total5"></th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each part5}}
                                                <tr>
                                                    <td class="text-center">{{counter @index}}</td>
                                                    <td>{{ aspek }}</td>
                                                    <td>{{ skor }}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-block">
                                <h4 class="card-title">Kesimpulan</h4>
                                <h6 class="card-subtitle">Berikut Adalah Kesimpulan Atas Mahasiswa {{#each datamahasiswa}}{{ mahasiswa }}{{/each}}</h6>
                                <hr>
                                <div class="table-responsive m-t-10">
                                    <table id="kesimpulan" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">Kesimpulan</th>
                                                <th class="">Psikolog</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">Kesimpulan</th>
                                                <th class="">Psikolog</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each datakesimpulan}}
                                                <tr>
                                                    <td>{{ kesimpulan }}</td>
                                                    <td>{{ namapsikolog }}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end of row --}}
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                        {{!-- <div class="card-header">
                            <h4 class="m-b-0 text-white">Form Aspek</h4>
                        </div> --}}
                            <div class="card-block text-center">
                                <div class="form-actions text-right">
                                    {{!-- <a href="/cetakkesimpulanassessment/{{ selectacara }}/{{#each datamahasiswa}}{{ idmahasiswa }}{{/each}}" target="_blank" class=""><button type="button" class="btn btn-block btn-outline-success" data-toggle="tooltip" data-original-title="Cetak Kesimpulan"> <i class="fa fa-print"></i> Cetak</button></a> --}}

                                    <button type="button" class="btn btn-block btn-outline-success" data-toggle="tooltip" data-original-title="Cetak Kesimpulan" id="export"> <i class="fa fa-print"></i> Cetak</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{/if}}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    <script src="/js/client/datatable/cetakkesimpulanassessment.js"></script>
    <script src="/js/client/cetak/cetakkesimpulanassessment.js"></script>
</body>

</html>
