<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> topbar}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> navbar}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Hasil Assessment</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Assessment</a></li>
                            <li class="breadcrumb-item active">Hasil Assessment</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{!-- End of Notifikasi --}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Soal</h4>
                            </div>
                            <div class="card-block">
                                {{!-- start of form pilih part --}}
                                <form action="/hasilassessment" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Pilih Acara</h4>
                                        <h6 class="card-subtitle"> Pilih acara terlebih dahulu untuk menampilkan data hasil assessment</h6>
                                        <hr>
                                        {{!-- <h5 class="m-t-30">Single select2</h5> --}}
                                        <select class="select2" id="selectacara" name="selectacara" style="width: 100%" required>
                                            <option>-- Pilih Acara --</option>
                                            {{#each dataacara}}
                                                <option value="{{ idacara }}" {{#if ../selectacara}}{{#compare idacara ../selectacara operator="=="}}selected{{/compare}}{{/if}}>{{ namaacara }}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Pilih</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                                {{!-- end of form pilih part --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#if selectacara}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-outline-info">
                            <div class="card-block">
                                {{!-- start of form pilih part --}}
                                <form action="/hasilassessmentmahasiswa" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Pilih Mahasiswa</h4>
                                        <h6 class="card-subtitle"> Pilih mahasiswa terlebih dahulu untuk menampilkan data hasil assessment</h6>
                                        <hr>
                                        {{!-- <h5 class="m-t-30">Single select2</h5> --}}
                                        <select class="select2" id="selectmahasiswa" name="selectmahasiswa" style="width: 100%" required>
                                            <option>-- Pilih Mahasiswa --</option>
                                            {{#each data}}
                                                <option value="{{ idmahasiswa }}" {{#if ../selectmahasiswa}}{{#compare idmahasiswa ../selectmahasiswa operator="=="}}selected{{/compare}}{{/if}}>{{ namamahasiswa }}</option>
                                            {{/each}}
                                        </select>
                                        <input type="hidden" name="idacara" id="idacara" value="{{ selectacara }}">
                                    </div>
                                    <hr>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Pilih</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                                {{!-- end of form pilih part --}}
                            </div>
                        </div>
                    </div>
                    {{#if selectmahasiswa}}
                    <div class="col-lg-6">
                        <div class="card card-outline-info">
                            <div class="card-block">
                                <div class="form-body">
                                    <h4 class="card-title">Data Mahasiswa</h4>
                                        <h6 class="card-subtitle"> Berikut adalah data mahasiswa yang terpilih</h6>
                                        <hr>
                                    <h4 class="card-title"> NIM :</h4>
                                    <h4 class="card-title"> Nama :</h4>
                                    <h4 class="card-title"> Fakultas :</h4>
                                    <h4 class="card-title"> Prodi :</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                </div>
                {{#if selectmahasiswa}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-6">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 1</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="listSoal" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                                <tr>
                                                    <td class="text-center">{{counter @index}}</td>
                                                    <td>{{ soal }}</td>
                                                    <td>{{ statussoal }}</td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 2</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="listSoal" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                                <tr>
                                                    <td class="text-center">{{counter @index}}</td>
                                                    <td>{{ soal }}</td>
                                                    <td>{{ statussoal }}</td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 3</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="listSoal" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                                <tr>
                                                    <td class="text-center">{{counter @index}}</td>
                                                    <td>{{ soal }}</td>
                                                    <td>{{ statussoal }}</td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 4</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="listSoal" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                                <tr>
                                                    <td class="text-center">{{counter @index}}</td>
                                                    <td>{{ soal }}</td>
                                                    <td>{{ statussoal }}</td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 5</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="listSoal" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                                <tr>
                                                    <td class="text-center">{{counter @index}}</td>
                                                    <td>{{ soal }}</td>
                                                    <td>{{ statussoal }}</td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-block">
                                {{!-- start of form tambah data acara --}}
                                <form action="/kesimpulan/register" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Form Input Kesimpulan Assessment Mahasiswa</h4>
                                        <hr>
                                        <div class="row p-t-20">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Kesimpulan:</label>
                                                    <textarea class="form-control" name="kesimpulanmahasiswa" id="kesimpulanmahasiswa" rows="10"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/row-->
                                    </div>
                                    <hr>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Simpan</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                                {{!-- end of form tambah data acara --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/if}}
                {{!-- end of row --}}
                {{/if}}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    <script src="/js/client/datatable/hasilassessment.js"></script>
    <script src="/js/client/modal/hasilassessment.js"></script>
</body>

</html>
