<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{> topbar}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{> navbar}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Hasil Assessment</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Assessment</a></li>
                            <li class="breadcrumb-item active">Hasil Assessment</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{!-- End of Notifikasi --}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Soal</h4>
                            </div>
                            <div class="card-block">
                                {{!-- start of form pilih part --}}
                                <form action="/hasilassessment" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Pilih Acara</h4>
                                        <h6 class="card-subtitle"> Pilih acara terlebih dahulu untuk menampilkan data hasil assessment</h6>
                                        <hr>
                                        {{!-- <h5 class="m-t-30">Single select2</h5> --}}
                                        <select class="select2" id="selectaspek" name="selectaspek" style="width: 100%" required>
                                            <option>-- Pilih Acara --</option>
                                            {{#each dataacara}}
                                                <option value="{{ idacara }}" {{#if ../selectaspek}}{{#compare idacara ../selectaspek operator="=="}}selected{{/compare}}{{/if}}>{{ namaacara }}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Pilih</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                                {{!-- end of form pilih part --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#if selectaspek}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">List Soal</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="listSoal" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                                <th class="notexport">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Soal</th>
                                                <th class="">Status</th>
                                                <th class="notexport">Aksi</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each soal}}
                                                <tr>
                                                    <td class="text-center">{{counter @index}}</td>
                                                    <td>{{ soal }}</td>
                                                    <td>{{ statussoal }}</td>
                                                    <td class="text-center notexport">
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn edit" data-toggle="tooltip" data-original-title="Ubah" data-id="{{ idsoal }}" data-idaspek="{{ idaspek }}" data-idpart="{{ idpart }}" data-nama="{{ soal }}" data-status="{{ statussoal }}"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end of row --}}
                {{!-- start of modal update soal --}}
                <form action="/soal/edit" method="post">
                    <div class="modal fade" id="modalEditsoal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel1">Ubah Data Soal</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="modalnamasoal" class="control-label">Nama soal:</label>
                                        {{!-- <input type="text" class="form-control modalnamasoal" id="modalnamasoal" name="modalnamasoal"> --}}
                                        <textarea class="form-control modalnamasoal" name="modalnamasoal" id="modalnamasoal"  rows="10"></textarea>
                                        <input type="hidden" class="form-control modalidsoal" id="modalidsoal" name="modalidsoal">
                                        <input type="hidden" class="form-control modalidaspek" id="modalidaspek" name="modalidaspek">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-warning" data-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-success">Ubah</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end of modal update soal -->
                <!-- start of modal delete soal -->
                
                <!-- end of modal delete soal -->
                {{!-- start of row --}}
                
                {{!-- end of row --}}
                {{/if}}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    <script src="/js/client/datatable/hasilassessment.js"></script>
    <script src="/js/client/modal/hasilassessment.js"></script>
</body>

</html>
