<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{#if tipe}} {{#compare tipe "admin" operator="=="}} {{> topbar}} {{/compare}} {{#compare tipe "psikolog" operator="=="}} {{> topbarpsikolog}} {{/compare}} {{/if}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{#if tipe}} {{#compare tipe "admin" operator="=="}} {{> navbar}} {{/compare}} {{#compare tipe "psikolog" operator="=="}} {{> navbarpsikolog}} {{/compare}} {{/if}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Part</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Soal</a></li>
                            <li class="breadcrumb-item active">Part</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{!-- End of Notifikasi --}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Part Soal</h4>
                            </div>
                            <div class="card-block">
                                {{!-- Start of tabel list part --}}
                                <h4 class="card-title">List Part Soal</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="listPart" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th>Nama Part</th>
                                                <th>Status</th>
                                                <th class="notexport">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>No.</th>
                                                <th>Nama Part</th>
                                                <th>Status</th>
                                                <th class="notexport">Aksi</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each data}}
                                                <tr>
                                                    <td>{{counter @index}}</td>
                                                    <td>{{loud nama }}</td>
                                                    <td>{{loud status }}</td>
                                                    <td class="notexport">
                                                        <a href="javascript:void(0);" class=""><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn edit" data-toggle="tooltip" data-original-title="Ubah" data-id="{{ id }}" data-nama="{{ nama }}" data-status="{{status}}"><i class="fa fa-pencil" aria-hidden="true"></i></button></a>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list part --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end of row --}}
                {{!-- start of modal update part --}}
                <form action="/part/edit" method="post">
                    <div class="modal fade" id="modalEditpart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="exampleModalLabel1">Ubah Data Part Soal</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="modalnamapart" class="control-label">Nama Part:</label>
                                        <input type="text" class="form-control modalnamapart" id="modalnamapart" name="modalnamapart">
                                        <input type="hidden" class="form-control modalidpart" id="modalidpart" name="modalidpart">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="reset" class="btn btn-warning" data-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-success">Ubah</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- end of modal update part -->
                <!-- start of modal delete part -->
                
                <!-- end of modal delete part -->
                {{!-- start of row --}}
                
                {{!-- end of row --}}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    <script src="/js/client/datatable/part.js"></script>
    <script src="/js/client/modal/part.js"></script>
</body>

</html>
