<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{#if tipe}} {{#compare tipe "admin" operator="=="}} {{> topbar}} {{/compare}} {{#compare tipe "psikolog" operator="=="}} {{> topbarpsikolog}} {{/compare}} {{/if}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{#if tipe}} {{#compare tipe "admin" operator="=="}} {{> navbar}} {{/compare}} {{#compare tipe "psikolog" operator="=="}} {{> navbarpsikolog}} {{/compare}} {{/if}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Rekap Rata-rata Skor Mahasiswa per Prodi</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Assessment</a></li>
                            <li class="breadcrumb-item active">Rekap Rata-rata Skor Mahasiswa per Prodi</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{!-- End of Notifikasi --}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Rekap Rata-rata Skor Mahasiswa per Prodi</h4>
                            </div>
                            <div class="card-block">
                                {{!-- start of form pilih part --}}
                                <form action="/rekapskor" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Pilih Acara dan Part Pertanyaan</h4>
                                        <h6 class="card-subtitle"> Pilih acara dan Part pertanyaan terlebih dahulu untuk menampilkan data rekap rata-rata skor mahasiswa per prodi</h6>
                                        <hr>
                                        {{!-- <h5 class="m-t-30">Single select2</h5> --}}
                                        <select class="select2" id="selectacara" name="selectacara" style="width: 100%" required>
                                            {{#each dataacara}}
                                                <option value="{{ idacara }}" {{#if ../selectacara}}{{#compare idacara ../selectacara operator="=="}}selected{{/compare}}{{/if}}>{{ namaacara }}</option>
                                            {{/each}}
                                        </select>
                                        <hr>
                                        <select class="select2" id="selectpart" name="selectpart" style="width: 100%" required>
                                            {{#each datapart}}
                                                <option value="{{ id }}" {{#if ../selectpart}}{{#compare id ../selectpart operator="=="}}selected{{/compare}}{{/if}}>{{ nama }}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    
                                    <hr>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Pilih</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                                {{!-- end of form pilih part --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#if selectacara}} {{#if selectpart}}
                {{#compare "1" selectpart operator="=="}}
                {{!-- start row part 1 --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">
                                    Part 1
                                    &nbsp;
                                    <button type="button" class="btn btn-info" data-target=".modalpart1" data-toggle="modal" data-original-title="Definisi"><i class="fa fa-question-circle" aria-hidden="true"></i></button>
                                </h4>
                                {{!-- modal start --}}
                                <div class="modal fade modalpart1" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myLargeModalLabel">Part 1</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>GROWTH MINDSET</h4>
                                                <p class="text-justify">Growth mindset adalah pola pikir yang meyakini bahwa kecerdasan, bakat dan kemampuan individu dapat dikembangkan dengan cara belajar dan bekerja keras seiring berjalannya waktu. Menurut Dweck dan Master (2009), Individu yang memiliki growth mindset akan memiliki keyakinan yang tinggi terhadap kemampuannya. Urdan dan Tuner (2005) menjelaskan jika individu memiliki growth mindset, biasanya individu tersebut bersedia untuk berpartisipasi dan bertahan dalam melaksanakan tugas, serta melakukan upaya yang lebih sebagai usaha menyelesaikan tugas yang diberikan (Rhew, Piro, Goolkasian & Cosentino, 2018). Selain itu, Individu yang memiliki growth mindset, cenderung mengarah pada pencapaian yang lebih tinggi saat menghadapi kesulitan yang lebih besar (Claro Paunesku & Dweck, 2016).</p>
                                                <p class="text-justify">Semakin tinggi tingkat growth mindset yang dimiliki, maka akan semakin tinggi pula kegigihan yang muncul dalam diri individu (Wahidah & Royanto, 2019). Sebaliknya jika growth mindset rendah, maka kegigihan dalam diri individu akan rendah pula, serta mudah menyerah. Individu dengan growth mindset juga akan memiliki penyesuaian diri yang baik, namun sebaliknya jika semakin tidak growth mindset, maka semakin rendah pula penyesuaian dirinya (Ainni & Aulia, 2021).</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                {{!-- modal end --}}
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="rekapskor" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Fakultas</th>
                                                <th class="">Prodi</th>
                                                <th class="">Jumlah Skor</th>
                                                <th class="">Jumlah Mahasiswa</th>
                                                <th class="">Rata-rata</th>
                                                <th class="">Kategori</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Fakultas</th>
                                                <th class="">Prodi</th>
                                                <th class="">Jumlah Skor</th>
                                                <th class="">Jumlah Mahasiswa</th>
                                                <th class="">Rata-rata</th>
                                                <th class="">Kategori</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each rekappart}}
                                                <tr>
                                                    <td>{{counter @index}}</td>
                                                    <td>{{ fakultas }}</td>
                                                    <td>{{ prodi }}</td>
                                                    <td>{{ Jumlah }}</td>
                                                    <td>{{ jumlah_mahasiswa_entry }}</td>
                                                    <td>{{ rata2 }}</td>
                                                    {{#compare rata2 45 operator=">"}}
                                                        <td style="background-color: green;color: white">Tinggi</td>
                                                    {{/compare}}
                                                    {{#compare rata2 30 operator=">="}} {{#compare rata2 45 operator="<="}}
                                                        <td style="background-color: yellow;color: black">Sedang</td>
                                                    {{/compare}} {{/compare}}
                                                    {{#compare rata2 30 operator="<"}}
                                                        <td style="background-color: red;color: white">Rendah</td>
                                                    {{/compare}}
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end row part 1 --}}
                {{/compare}}
                {{#compare "2" selectpart operator="=="}}
                {{!-- start row part 2 --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">
                                    Part 2
                                    &nbsp;
                                    <button type="button" class="btn btn-info" data-target=".modalpart2" data-toggle="modal" data-original-title="Definisi"><i class="fa fa-question-circle" aria-hidden="true"></i></button>
                                </h4>
                                {{!-- modal start --}}
                                <div class="modal fade modalpart2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myLargeModalLabel">Part 2</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>ACADEMIC INTEGRITY</h4>
                                                <p class="text-justify">Center for Academic Integrity (CAI) mendefinisikan integritas akademik sebagai komitmen, bahkan dalam menghadapi kesulitan, pada lima nilai fundamental: kejujuran, kepercayaan, keadilan, rasa hormat dan tanggung jawab (Keohane, 1999). Individu yang mempunyai integritas akademik yang baik akan menghasilkan aktivitas dan kegiatan yang cenderung mengarah pada nilai-nilai kebaikan. Individu yang memiliki integritas akademik akan mengarah pada suatu kecenderungan untuk berbuat dan berperilaku yang sesuai dengan norma kebenaran (Ramdani, 2018). Individu dengan tingkat integritas yang rendah cenderung menunjukkan perilaku yang melanggar aturan (Suryadi, Nisa, & Sumiati, 2018) (Wiranata, Zamralita & Basaria, 2020).</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                {{!-- modal end --}}
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="rekapskor" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Fakultas</th>
                                                <th class="">Prodi</th>
                                                <th class="">Jumlah Skor</th>
                                                <th class="">Jumlah Mahasiswa</th>
                                                <th class="">Rata-rata</th>
                                                <th class="">Kategori</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Fakultas</th>
                                                <th class="">Prodi</th>
                                                <th class="">Jumlah Skor</th>
                                                <th class="">Jumlah Mahasiswa</th>
                                                <th class="">Rata-rata</th>
                                                <th class="">Kategori</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each rekappart}}
                                                <tr>
                                                    <td>{{counter @index}}</td>
                                                    <td>{{ fakultas }}</td>
                                                    <td>{{ prodi }}</td>
                                                    <td>{{ Jumlah }}</td>
                                                    <td>{{ jumlah_mahasiswa_entry }}</td>
                                                    <td>{{ rata2 }}</td>
                                                    {{#compare rata2 60 operator=">"}}
                                                        <td style="background-color: green;color: white">Tinggi</td>
                                                    {{/compare}}
                                                    {{#compare rata2 40 operator=">="}} {{#compare rata2 60 operator="<="}}
                                                        <td style="background-color: yellow;color: black">Sedang</td>
                                                    {{/compare}} {{/compare}}
                                                    {{#compare rata2 40 operator="<"}}
                                                        <td style="background-color: red;color: white">Rendah</td>
                                                    {{/compare}}
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end row part 2 --}}
                {{/compare}}
                {{#compare "3" selectpart operator="=="}}
                {{!-- start row part 3 --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">
                                    Part 3
                                    &nbsp;
                                    <button type="button" class="btn btn-info" data-target=".modalpart3" data-toggle="modal" data-original-title="Definisi"><i class="fa fa-question-circle" aria-hidden="true"></i></button>
                                </h4>
                                {{!-- modal start --}}
                                <div class="modal fade modalpart3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myLargeModalLabel">Part 3</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>CRITICAL THINKING DISPOSITION</h4>
                                                <p class="text-justify">Critical Thinking Disposition merupakan motivasi internal yang konsisten untuk melibatkan masalah dan membuat keputusan dengan menggunakan pemikiran (Facione dan Facione, 1997). Individu yang memiliki Critical Thinking Disposition menunjang rasa ingin tahu yang lebih dalam, mendukung pikiran yang tajam, kontribusi yang kuat untuk mencari alasan yang tepat, keinginan untuk mencari informasi yang akurat dan cenderung menggunakan keterampilan berpikir kritis mereka (Facione, 2007 dalam Qing, dkk, 2010).</p>
                                                <p class="text-justify">Critical Thinking Disposition tinggi cenderung menunjang kinerja individu pada akademik yang lebih besar, berpartisipasi dalam aksi sosial dan meningkatkan pemikiran kritis mereka. (Astin 1993b; Facione & Facione, 1997 dalam Laird, 2005). Sedangkan, individu dengan Critical Thinking Disposition yang rendah cenderung menjadi kurang untuk mengandalkan berpikir kritis sebagai cara yang layak untuk mengatasi masalah yang mereka hadapi (Facione dan Facione, 1997).</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                {{!-- modal end --}}
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="rekapskor" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Fakultas</th>
                                                <th class="">Prodi</th>
                                                <th class="">Jumlah Skor</th>
                                                <th class="">Jumlah Mahasiswa</th>
                                                <th class="">Rata-rata</th>
                                                <th class="">Kategori</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Fakultas</th>
                                                <th class="">Prodi</th>
                                                <th class="">Jumlah Skor</th>
                                                <th class="">Jumlah Mahasiswa</th>
                                                <th class="">Rata-rata</th>
                                                <th class="">Kategori</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each rekappart}}
                                                <tr>
                                                    <td>{{counter @index}}</td>
                                                    <td>{{ fakultas }}</td>
                                                    <td>{{ prodi }}</td>
                                                    <td>{{ Jumlah }}</td>
                                                    <td>{{ jumlah_mahasiswa_entry }}</td>
                                                    <td>{{ rata2 }}</td>
                                                    {{#compare rata2 42 operator=">"}}
                                                        <td style="background-color: green;color: white">Tinggi</td>
                                                    {{/compare}}
                                                    {{#compare rata2 28 operator=">="}} {{#compare rata2 42 operator="<="}}
                                                        <td style="background-color: yellow;color: black">Sedang</td>
                                                    {{/compare}} {{/compare}}
                                                    {{#compare rata2 28 operator="<"}}
                                                        <td style="background-color: red;color: white">Rendah</td>
                                                    {{/compare}}
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end row part 3 --}}
                {{/compare}}
                {{#compare "4" selectpart operator="=="}}
                {{!-- start row part 4 --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">
                                    Part 4
                                    &nbsp;
                                    <button type="button" class="btn btn-info" data-target=".modalpart4" data-toggle="modal" data-original-title="Definisi"><i class="fa fa-question-circle" aria-hidden="true"></i></button>
                                </h4>
                                {{!-- modal start --}}
                                <div class="modal fade modalpart4" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myLargeModalLabel">Part 4</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>ACADEMIC BUOYANCY</h4>
                                                <p class="text-justify">Academic buoyancy merupakan kemampuan individu dalam menghadapi tantangan sehari-hari dalam konteks akademik misalnya seperti performa akademik yang buruk, deadline tugas, tekanan akademik, atau tugas yang sulit dengan efektif. (Martin dan Marsh, 2008).</p>
                                                <p class="text-justify">Individu dengan academic buoyancy yang tinggi, cenderung akan menunjang agar dapat bangkit dan melakukan upaya dalam menghadapi tantangan akademik sehingga keberhasilan akademik individu dapat tercapai (Collie, Ginn, dkk., 2017 dalam Putwain, D, dkk, 2012 ; Smith & Firth, 2018). Sedangkan individu dengan academic buoyancy yang rendah, memiliki kemungkinan hambatan untuk dapat mengatasi tantangan akademik seharihari dan kemunduran akademik. Kondisi dimana academic buoyancy rendah berkaitan secara signifikan dengan penurunan prestasi akademik (Resetiana, 2017).</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                {{!-- modal end --}}
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="rekapskor" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Fakultas</th>
                                                <th class="">Prodi</th>
                                                <th class="">Jumlah Skor</th>
                                                <th class="">Jumlah Mahasiswa</th>
                                                <th class="">Rata-rata</th>
                                                <th class="">Kategori</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Fakultas</th>
                                                <th class="">Prodi</th>
                                                <th class="">Jumlah Skor</th>
                                                <th class="">Jumlah Mahasiswa</th>
                                                <th class="">Rata-rata</th>
                                                <th class="">Kategori</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each rekappart}}
                                                <tr>
                                                    <td>{{counter @index}}</td>
                                                    <td>{{ fakultas }}</td>
                                                    <td>{{ prodi }}</td>
                                                    <td>{{ Jumlah }}</td>
                                                    <td>{{ jumlah_mahasiswa_entry }}</td>
                                                    <td>{{ rata2 }}</td>
                                                    {{#compare rata2 60 operator=">"}}
                                                        <td style="background-color: green;color: white">Tinggi</td>
                                                    {{/compare}}
                                                    {{#compare rata2 40 operator=">="}} {{#compare rata2 60 operator="<="}}
                                                        <td style="background-color: yellow;color: black">Sedang</td>
                                                    {{/compare}} {{/compare}}
                                                    {{#compare rata2 40 operator="<"}}
                                                        <td style="background-color: red;color: white">Rendah</td>
                                                    {{/compare}}
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end row part 4 --}}
                {{/compare}}
                {{#compare "5" selectpart operator="=="}}
                {{!-- start row part 5 --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">
                                    Part 5
                                    &nbsp;
                                    <button type="button" class="btn btn-info" data-target=".modalpart5" data-toggle="modal" data-original-title="Definisi"><i class="fa fa-question-circle" aria-hidden="true"></i></button>
                                </h4>
                                {{!-- modal start --}}
                                <div class="modal fade modalpart5" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="myLargeModalLabel">Part 5 - TRAIT PERSONALITY</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Extraversion</h4>
                                                <p class="text-justify">Extraversion merupakan sifat kepribadian yang identik dengan adanya semangat dan keantusiasan. Individu yang ekstraver biasanya bersemangat di dalam membangun hubungan dengan orang lain, periang, aktif berbicara, menyenangkan, tidak sungkan berkenalan, dan secara aktif mencari teman baru (Feist & Feist, 2009; Ramdhani, 2012). Tak hanya itu, mereka cenderung tegas dan asertif dalam bersikap. Bila tak setuju, mereka tidak sungkan untuk menyatakan tidak (Ramdhani, 2012).</p>
                                                <p class="text-justify">Sebaliknya, menurut Goldberg (1992), individu yang memiliki skor ekstraversi yang rendah cenderung lebih tertutup, pemalu, pendiam dan tidak suka berpetualang. Mereka juga cenderung sulit untuk memulai percakapan, menyukai ketenangan, dan tidak senang ketika menjadi pusat perhatian (Cherry, 2021). Individu yang memiliki skor rendah dalam extraversion juga biasanya tidak asertif dalam bersikap dan cenderung diam saja ketika tidak setuju dengan orang lain (John & Srivastava, 1999).</p>

                                                <h4>Agreeableness</h4>
                                                <p class="text-justify">Agreeableness ditandai oleh mempunyai ciri-ciri ketulusan dalam berbagi, kehalusan perasaan, dan fokus pada hal-hal positif pada orang lain. Orang-orang dengan skor agreeableness yang tinggi cenderung mempercayai orang lain, murah hati, mudah menerima, menghindari konflik, ramah, kooperatif dan hangat. (Feist & Feist, 2009</p>
                                                <p class="text-justify">Individu yang memiliki skor agreeableness yang tinggi (John & Srivastava, 1999) adalah menekankan deskripsi kualitas terbaik pada individu, suka menghibur orang lain ketika sedang bersedih.</p>
                                                <p class="text-justify">Sebaliknya, individu yang memiliki skor agreeableness yang rendah akan menunjukkan sifat dingin, tidak bersimpatik, dan cenderung menuntut (Goldberg, 1992). Individu ini menunjukkan sifat ketidakpedulian terhadap orang lain, tidak terlalu tertarik dengan masalah orang lain, dan mungkin saja memanipulasi orang lain untuk mendapat apa yang mereka inginkan (Cherry, 2021).</p>

                                                <h4>Conscientiousness</h4>
                                                <p class="text-justify">Conscientiousness tinggi diasosiasikan dengan sifat sungguh-sungguh dalam melakukan tugas, bertanggung jawab, dapat diandalkan, dan menyukai keteraturan dan kedisiplinan. Di dalam kehidupan seharihari mereka tampil sebagai seorang yang hadir tepat waktu, berprestasi, teliti, dan suka melakukan pekerjaan tingga tuntas (Ramdhani, 2012).</p>
                                                <p class="text-justify">Sebaliknya, individu dengan skor conscientiousness rendah cenderung agak sembrono, tidak teratur, dan lalai (Goldberg, 1992). Individu ini juga menunjukkan sifat tidak menyukai struktur dan jadwal, membuat sesuatu berantakan dan tidak dapat membenahinya, dan sering prokrastinasi untuk melakukan suatu hal yang penting (Cherry, 2021).</p>

                                                <h4>Neuroticism (vs. emotional stability)</h4>
                                                <p class="text-justify">Neuroticism identik dengan kehadiran emosi negatif seperti rasa khawatir, tegang, dan takut. Individu yang dominan sifat pencemasnya mudah gugup dalam menghadapi masalah-masalah yang menurut orang kebanyakan hanya sepele. Mereka biasanya mudah menjadi marah bila berhadapan dengan situasi yang tidak sesuai dengan yang diinginkannya. Secara umum, mereka juga emosional dan kurang mempunyai toleransi terhadap kekecewaan dan konflik (Ramdhani, 2012; Feist & Feist, 2009).</p>
                                                <p class="text-justify">Sebaliknya, individu dengan skor neuroticism rendah (emotional stability tinggi) memiliki sifat yang tenang, tidak banyak menuntut, lebih stabil secara emosional (Goldberg, 1992) dan menerima baik dan buruk kehidupan tanpa banyak mengeluh (John & Srivastava, 1999).</p>

                                                <h4>Openness/Intellect</h4>
                                                <p class="text-justify">Openness merupakan sifat yang membedakan antara individu yang memilih variasi dibandingkan dengan individu yang menutup diri serta individu yang mendapatkan kenyamanan dalam hubungan mereka dengan hal-hal dan interaksinya (John & Srivastava, 1999). Individu dengan skor openness yang tinggi cenderung mencari perbedaan dan pengalaman yang bervariasi dan berbeda (Feist & Feist, 2009). Mereka juga umumnya terlihat imajinatif, menyenangkan, kreatif, dan artistik (Friedman & Schustack, dalam Wulandari & Rehulina, 2013). Individu dengan skor yang tinggi di dimensi ini juga siap menerima berbagai stimulus yang ada dengan sudut pandang yang terbuka karena wawasan mereka tidak hanya luas namun juga mendalam (Ramdhani, 2012).</p>
                                                <p class="text-justify">Sebaliknya, individu yang memiliki skor Openness yang rendah seringkali menunjukkan sifat yang tidak imaginatif, berpikir secara sederhana, tidak terlalu ingin tahu, dan tidak reflektif (Goldberg, 1992). Kecenderungannya, individu ini juga tidak menyukai perubahan, tidak begitu menikmati hal-hal yang baru, dan tidak menyukai konsep yang abstrak (Cherry, 2021).</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger waves-effect text-left" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                {{!-- modal end --}}
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="rekapskor" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Fakultas</th>
                                                <th class="">Prodi</th>
                                                <th class="">Jumlah Skor</th>
                                                <th class="">Jumlah Mahasiswa</th>
                                                <th class="">Extraversion</th>
                                                <th class="">Agreeableness</th>
                                                <th class="">Conscientiousness</th>
                                                <th class="">Neuroticism (vs. emotional stability)</th>
                                                <th class="">Openness/Intellect</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">No.</th>
                                                <th class="">Fakultas</th>
                                                <th class="">Prodi</th>
                                                <th class="">Jumlah Skor</th>
                                                <th class="">Jumlah Mahasiswa</th>
                                                <th class="">Extraversion</th>
                                                <th class="">Agreeableness</th>
                                                <th class="">Conscientiousness</th>
                                                <th class="">Neuroticism (vs. emotional stability)</th>
                                                <th class="">Openness/Intellect</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each rekappart}}
                                                <tr>
                                                    <td>{{counter @index}}</td>
                                                    <td>{{ fakultas }}</td>
                                                    <td>{{ prodi }}</td>
                                                    <td>{{ Jumlah }}</td>
                                                    <td>{{ jumlah_mahasiswa_entry }}</td>
                                                    {{!-- Extraversion --}}
                                                    {{#compare rata2E 35 operator=">"}}
                                                        <td style="background-color: green;color: white">{{rata2E}} - Tinggi</td>
                                                    {{/compare}}
                                                    {{#compare rata2E 21 operator=">="}} {{#compare rata2E 35 operator="<="}}
                                                        <td style="background-color: yellow;color: black">{{rata2E}} - Sedang</td>
                                                    {{/compare}} {{/compare}}
                                                    {{#compare rata2E 21 operator="<"}}
                                                        <td style="background-color: red;color: white">{{rata2E}} - Rendah</td>
                                                    {{/compare}}
                                                    {{!-- Extraversion --}}

                                                    {{!-- Agreeableness --}}
                                                    {{#compare rata2A 29 operator=">"}}
                                                        <td style="background-color: green;color: white">{{rata2A}} - Tinggi</td>
                                                    {{/compare}}
                                                    {{#compare rata2A 19 operator=">="}} {{#compare rata2A 29 operator="<="}}
                                                        <td style="background-color: yellow;color: black">{{rata2A}} - Sedang</td>
                                                    {{/compare}} {{/compare}}
                                                    {{#compare rata2A 19 operator="<"}}
                                                        <td style="background-color: red;color: white">{{rata2A}} - Rendah</td>
                                                    {{/compare}}
                                                    {{!-- Agreeableness --}}

                                                    {{!-- Conscientiousness --}}
                                                    {{#compare rata2C 45 operator=">"}}
                                                        <td style="background-color: green;color: white">{{rata2C}} - Tinggi</td>
                                                    {{/compare}}
                                                    {{#compare rata2C 27 operator=">="}} {{#compare rata2C 45 operator="<="}}
                                                        <td style="background-color: yellow;color: black">{{rata2C}} - Sedang</td>
                                                    {{/compare}} {{/compare}}
                                                    {{#compare rata2C 27 operator="<"}}
                                                        <td style="background-color: red;color: white">{{rata2C}} - Rendah</td>
                                                    {{/compare}}
                                                    {{!-- Conscientiousness --}}

                                                    {{!-- Neuroticism (vs. emotional stability) --}}
                                                    {{#compare rata2N 35 operator=">"}}
                                                        <td style="background-color: green;color: white">{{rata2N}} - Tinggi</td>
                                                    {{/compare}}
                                                    {{#compare rata2N 21 operator=">="}} {{#compare rata2N 35 operator="<="}}
                                                        <td style="background-color: yellow;color: black">{{rata2N}} - Sedang</td>
                                                    {{/compare}} {{/compare}}
                                                    {{#compare rata2N 21 operator="<"}}
                                                        <td style="background-color: red;color: white">{{rata2N}} - Rendah</td>
                                                    {{/compare}}
                                                    {{!-- Neuroticism (vs. emotional stability) --}}

                                                    {{!-- Openness/Intellect --}}
                                                    {{#compare rata2O 35 operator=">"}}
                                                        <td style="background-color: green;color: white">{{rata2O}} - Tinggi</td>
                                                    {{/compare}}
                                                    {{#compare rata2O 21 operator=">="}} {{#compare rata2O 35 operator="<="}}
                                                        <td style="background-color: yellow;color: black">{{rata2O}} - Sedang</td>
                                                    {{/compare}} {{/compare}}
                                                    {{#compare rata2O 21 operator="<"}}
                                                        <td style="background-color: red;color: white">{{rata2O}} - Rendah</td>
                                                    {{/compare}}
                                                    {{!-- Openness/Intellect --}}
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end row part 5 --}}
                {{/compare}}
                
                {{/if}} {{/if}}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    <script src="/js/client/datatable/rekapskor.js"></script>
</body>

</html>
