<!DOCTYPE html>
<html lang="en">

<head>
{{> header}}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    {{> preloader}}
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        {{#if tipe}} {{#compare tipe "admin" operator="=="}} {{> topbar}} {{/compare}} {{#compare tipe "psikolog" operator="=="}} {{> topbarpsikolog}} {{/compare}} {{/if}}
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        {{#if tipe}} {{#compare tipe "admin" operator="=="}} {{> navbar}} {{/compare}} {{#compare tipe "psikolog" operator="=="}} {{> navbarpsikolog}} {{/compare}} {{/if}}
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Skor Assessment Mahasiswa</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Assessment</a></li>
                            <li class="breadcrumb-item active">Skor Assessment Mahasiswa</li>
                        </ol>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                {{!-- Start of Notifikasi --}}
                {{#if sessionFlash.message}}
                    <div class="alert alert-danger"> 
                        {{sessionFlash.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{#if sessionFlash2.message}}
                    <div class="alert alert-success"> 
                        {{sessionFlash2.message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                    </div>
                {{/if}}
                {{!-- End of Notifikasi --}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white">Skor Assessment</h4>
                            </div>
                            <div class="card-block">
                                {{!-- start of form pilih part --}}
                                <form action="/skorassessment" method="POST">
                                    <div class="form-body">
                                        <h4 class="card-title">Pilih Acara</h4>
                                        <h6 class="card-subtitle"> Pilih acara terlebih dahulu untuk menampilkan data skor assessment</h6>
                                        <hr>
                                        {{!-- <h5 class="m-t-30">Single select2</h5> --}}
                                        <select class="select2" id="selectacara" name="selectacara" style="width: 100%" required>
                                            <option>-- Pilih Acara --</option>
                                            {{#each dataacara}}
                                                <option value="{{ idacara }}" {{#if ../selectacara}}{{#compare idacara ../selectacara operator="=="}}selected{{/compare}}{{/if}}>{{ namaacara }}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <hr>
                                    <div class="form-actions text-right">
                                        <button type="submit" class="btn btn-block btn-outline-success"> <i class="fa fa-check"></i> Pilih</button>
                                        <button type="reset" class="btn btn-block btn-outline-warning">Batal</button>
                                    </div>
                                </form>
                                {{!-- end of form pilih part --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{#if selectacara}}
                {{!-- start of row --}}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 1</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="part1" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">NIM</th>
                                                <th class="">1</th>
                                                <th class="">2</th>
                                                <th class="">3</th>
                                                <th class="">4</th>
                                                <th class="">5</th>
                                                <th class="">6</th>
                                                <th class="">7</th>
                                                <th class="">8</th>
                                                <th class="">9</th>
                                                <th class="">10</th>
                                                <th class="">11</th>
                                                <th class="">12</th>
                                                <th class="">13</th>
                                                <th class="">14</th>
                                                <th class="">15</th>
                                                <th class="">Jumlah</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">NIM</th>
                                                <th class="">1</th>
                                                <th class="">2</th>
                                                <th class="">3</th>
                                                <th class="">4</th>
                                                <th class="">5</th>
                                                <th class="">6</th>
                                                <th class="">7</th>
                                                <th class="">8</th>
                                                <th class="">9</th>
                                                <th class="">10</th>
                                                <th class="">11</th>
                                                <th class="">12</th>
                                                <th class="">13</th>
                                                <th class="">14</th>
                                                <th class="">15</th>
                                                <th class="">Jumlah</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each part1}}
                                                <tr>
                                                    <td class="text-center">{{unim}}</td>
                                                    <td>{{ 1 }}</td>
                                                    <td>{{ 2 }}</td>
                                                    <td>{{ 3 }}</td>
                                                    <td>{{ 4 }}</td>
                                                    <td>{{ 5 }}</td>
                                                    <td>{{ 6 }}</td>
                                                    <td>{{ 7 }}</td>
                                                    <td>{{ 8 }}</td>
                                                    <td>{{ 9 }}</td>
                                                    <td>{{ 10 }}</td>
                                                    <td>{{ 11 }}</td>
                                                    <td>{{ 12 }}</td>
                                                    <td>{{ 13 }}</td>
                                                    <td>{{ 14 }}</td>
                                                    <td>{{ 15 }}</td>
                                                    <td>{{ Jumlah }}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 2</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="part2" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">NIM</th>
                                                <th class="">1</th>
                                                <th class="">2</th>
                                                <th class="">3</th>
                                                <th class="">4</th>
                                                <th class="">5</th>
                                                <th class="">6</th>
                                                <th class="">7</th>
                                                <th class="">8</th>
                                                <th class="">9</th>
                                                <th class="">10</th>
                                                <th class="">11</th>
                                                <th class="">12</th>
                                                <th class="">13</th>
                                                <th class="">14</th>
                                                <th class="">15</th>
                                                <th class="">16</th>
                                                <th class="">17</th>
                                                <th class="">18</th>
                                                <th class="">19</th>
                                                <th class="">20</th>
                                                <th class="">Jumlah</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">NIM</th>
                                                <th class="">1</th>
                                                <th class="">2</th>
                                                <th class="">3</th>
                                                <th class="">4</th>
                                                <th class="">5</th>
                                                <th class="">6</th>
                                                <th class="">7</th>
                                                <th class="">8</th>
                                                <th class="">9</th>
                                                <th class="">10</th>
                                                <th class="">11</th>
                                                <th class="">12</th>
                                                <th class="">13</th>
                                                <th class="">14</th>
                                                <th class="">15</th>
                                                <th class="">16</th>
                                                <th class="">17</th>
                                                <th class="">18</th>
                                                <th class="">19</th>
                                                <th class="">20</th>
                                                <th class="">Jumlah</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each part2}}
                                                <tr>
                                                    <td class="text-center">{{unim}}</td>
                                                    <td>{{ 1 }}</td>
                                                    <td>{{ 2 }}</td>
                                                    <td>{{ 3 }}</td>
                                                    <td>{{ 4 }}</td>
                                                    <td>{{ 5 }}</td>
                                                    <td>{{ 6 }}</td>
                                                    <td>{{ 7 }}</td>
                                                    <td>{{ 8 }}</td>
                                                    <td>{{ 9 }}</td>
                                                    <td>{{ 10 }}</td>
                                                    <td>{{ 11 }}</td>
                                                    <td>{{ 12 }}</td>
                                                    <td>{{ 13 }}</td>
                                                    <td>{{ 14 }}</td>
                                                    <td>{{ 15 }}</td>
                                                    <td>{{ 16 }}</td>
                                                    <td>{{ 17 }}</td>
                                                    <td>{{ 18 }}</td>
                                                    <td>{{ 19 }}</td>
                                                    <td>{{ 20 }}</td>
                                                    <td>{{ Jumlah }}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 3</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="part3" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">NIM</th>
                                                <th class="">1</th>
                                                <th class="">2</th>
                                                <th class="">3</th>
                                                <th class="">4</th>
                                                <th class="">5</th>
                                                <th class="">6</th>
                                                <th class="">7</th>
                                                <th class="">8</th>
                                                <th class="">9</th>
                                                <th class="">10</th>
                                                <th class="">11</th>
                                                <th class="">12</th>
                                                <th class="">13</th>
                                                <th class="">14</th>
                                                <th class="">Jumlah</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">NIM</th>
                                                <th class="">1</th>
                                                <th class="">2</th>
                                                <th class="">3</th>
                                                <th class="">4</th>
                                                <th class="">5</th>
                                                <th class="">6</th>
                                                <th class="">7</th>
                                                <th class="">8</th>
                                                <th class="">9</th>
                                                <th class="">10</th>
                                                <th class="">11</th>
                                                <th class="">12</th>
                                                <th class="">13</th>
                                                <th class="">14</th>
                                                <th class="">Jumlah</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each part3}}
                                                <tr>
                                                    <td class="text-center">{{unim}}</td>
                                                    <td>{{ 1 }}</td>
                                                    <td>{{ 2 }}</td>
                                                    <td>{{ 3 }}</td>
                                                    <td>{{ 4 }}</td>
                                                    <td>{{ 5 }}</td>
                                                    <td>{{ 6 }}</td>
                                                    <td>{{ 7 }}</td>
                                                    <td>{{ 8 }}</td>
                                                    <td>{{ 9 }}</td>
                                                    <td>{{ 10 }}</td>
                                                    <td>{{ 11 }}</td>
                                                    <td>{{ 12 }}</td>
                                                    <td>{{ 13 }}</td>
                                                    <td>{{ 14 }}</td>
                                                    <td>{{ Jumlah }}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 4</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="part4" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">NIM</th>
                                                <th class="">1</th>
                                                <th class="">2</th>
                                                <th class="">3</th>
                                                <th class="">4</th>
                                                <th class="">5</th>
                                                <th class="">6</th>
                                                <th class="">7</th>
                                                <th class="">8</th>
                                                <th class="">9</th>
                                                <th class="">10</th>
                                                <th class="">11</th>
                                                <th class="">12</th>
                                                <th class="">13</th>
                                                <th class="">14</th>
                                                <th class="">15</th>
                                                <th class="">16</th>
                                                <th class="">17</th>
                                                <th class="">18</th>
                                                <th class="">19</th>
                                                <th class="">20</th>
                                                <th class="">Jumlah</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">NIM</th>
                                                <th class="">1</th>
                                                <th class="">2</th>
                                                <th class="">3</th>
                                                <th class="">4</th>
                                                <th class="">5</th>
                                                <th class="">6</th>
                                                <th class="">7</th>
                                                <th class="">8</th>
                                                <th class="">9</th>
                                                <th class="">10</th>
                                                <th class="">11</th>
                                                <th class="">12</th>
                                                <th class="">13</th>
                                                <th class="">14</th>
                                                <th class="">15</th>
                                                <th class="">16</th>
                                                <th class="">17</th>
                                                <th class="">18</th>
                                                <th class="">19</th>
                                                <th class="">20</th>
                                                <th class="">Jumlah</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each part4}}
                                                <tr>
                                                    <td class="text-center">{{unim}}</td>
                                                    <td>{{ 1 }}</td>
                                                    <td>{{ 2 }}</td>
                                                    <td>{{ 3 }}</td>
                                                    <td>{{ 4 }}</td>
                                                    <td>{{ 5 }}</td>
                                                    <td>{{ 6 }}</td>
                                                    <td>{{ 7 }}</td>
                                                    <td>{{ 8 }}</td>
                                                    <td>{{ 9 }}</td>
                                                    <td>{{ 10 }}</td>
                                                    <td>{{ 11 }}</td>
                                                    <td>{{ 12 }}</td>
                                                    <td>{{ 13 }}</td>
                                                    <td>{{ 14 }}</td>
                                                    <td>{{ 15 }}</td>
                                                    <td>{{ 16 }}</td>
                                                    <td>{{ 17 }}</td>
                                                    <td>{{ 18 }}</td>
                                                    <td>{{ 19 }}</td>
                                                    <td>{{ 20 }}</td>
                                                    <td>{{ Jumlah }}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            {{!-- <div class="card-header">
                                <h4 class="m-b-0 text-white">Form Aspek</h4>
                            </div> --}}
                            <div class="card-block">
                                {{!-- Start of tabel list aspek --}}
                                <h4 class="card-title">Part 5</h4>
                                <h6 class="card-subtitle">Export data to Copy, CSV, Excel, PDF & Print</h6>
                                <hr>
                                <div class="table-responsive m-t-40">
                                    <table id="part5" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th class="">NIM</th>
                                                <th class="">1</th>
                                                <th class="">2</th>
                                                <th class="">3</th>
                                                <th class="">4</th>
                                                <th class="">5</th>
                                                <th class="">6</th>
                                                <th class="">7</th>
                                                <th class="">8</th>
                                                <th class="">9</th>
                                                <th class="">10</th>
                                                <th class="">11</th>
                                                <th class="">12</th>
                                                <th class="">13</th>
                                                <th class="">14</th>
                                                <th class="">15</th>
                                                <th class="">16</th>
                                                <th class="">17</th>
                                                <th class="">18</th>
                                                <th class="">19</th>
                                                <th class="">20</th>
                                                <th class="">21</th>
                                                <th class="">22</th>
                                                <th class="">23</th>
                                                <th class="">24</th>
                                                <th class="">25</th>
                                                <th class="">26</th>
                                                <th class="">27</th>
                                                <th class="">28</th>
                                                <th class="">29</th>
                                                <th class="">30</th>
                                                <th class="">31</th>
                                                <th class="">32</th>
                                                <th class="">33</th>
                                                <th class="">34</th>
                                                <th class="">35</th>
                                                <th class="">36</th>
                                                <th class="">Jumlah</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th class="">NIM</th>
                                                <th class="">1</th>
                                                <th class="">2</th>
                                                <th class="">3</th>
                                                <th class="">4</th>
                                                <th class="">5</th>
                                                <th class="">6</th>
                                                <th class="">7</th>
                                                <th class="">8</th>
                                                <th class="">9</th>
                                                <th class="">10</th>
                                                <th class="">11</th>
                                                <th class="">12</th>
                                                <th class="">13</th>
                                                <th class="">14</th>
                                                <th class="">15</th>
                                                <th class="">16</th>
                                                <th class="">17</th>
                                                <th class="">18</th>
                                                <th class="">19</th>
                                                <th class="">20</th>
                                                <th class="">21</th>
                                                <th class="">22</th>
                                                <th class="">23</th>
                                                <th class="">24</th>
                                                <th class="">25</th>
                                                <th class="">26</th>
                                                <th class="">27</th>
                                                <th class="">28</th>
                                                <th class="">29</th>
                                                <th class="">30</th>
                                                <th class="">31</th>
                                                <th class="">32</th>
                                                <th class="">33</th>
                                                <th class="">34</th>
                                                <th class="">35</th>
                                                <th class="">36</th>
                                                <th class="">Jumlah</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {{#each part5}}
                                                <tr>
                                                    <td class="text-center">{{unim}}</td>
                                                    <td>{{ 1 }}</td>
                                                    <td>{{ 2 }}</td>
                                                    <td>{{ 3 }}</td>
                                                    <td>{{ 4 }}</td>
                                                    <td>{{ 5 }}</td>
                                                    <td>{{ 6 }}</td>
                                                    <td>{{ 7 }}</td>
                                                    <td>{{ 8 }}</td>
                                                    <td>{{ 9 }}</td>
                                                    <td>{{ 10 }}</td>
                                                    <td>{{ 11 }}</td>
                                                    <td>{{ 12 }}</td>
                                                    <td>{{ 13 }}</td>
                                                    <td>{{ 14 }}</td>
                                                    <td>{{ 15 }}</td>
                                                    <td>{{ 16 }}</td>
                                                    <td>{{ 17 }}</td>
                                                    <td>{{ 18 }}</td>
                                                    <td>{{ 19 }}</td>
                                                    <td>{{ 20 }}</td>
                                                    <td>{{ 21 }}</td>
                                                    <td>{{ 22 }}</td>
                                                    <td>{{ 23 }}</td>
                                                    <td>{{ 24 }}</td>
                                                    <td>{{ 25 }}</td>
                                                    <td>{{ 26 }}</td>
                                                    <td>{{ 27 }}</td>
                                                    <td>{{ 28 }}</td>
                                                    <td>{{ 29 }}</td>
                                                    <td>{{ 30 }}</td>
                                                    <td>{{ 31 }}</td>
                                                    <td>{{ 32 }}</td>
                                                    <td>{{ 33 }}</td>
                                                    <td>{{ 34 }}</td>
                                                    <td>{{ 35 }}</td>
                                                    <td>{{ 36 }}</td>
                                                    <td>{{ Jumlah }}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- end of tabel list soal --}}
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- end of row --}}
                {{/if}}
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {{> footer}}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    {{> plugins}}
    <script src="/js/client/datatable/skorassessment.js"></script>
</body>

</html>
